@{
    ViewBag.Title = "About";
}
<h2>About</h2>

<p>In an effort to preserve and increase public appreciation of the Traditional Latin Mass, also known as Latin Mass, this petition is to introduce at least one such mass to the Neighbors North Catholic Community of the Pittsburgh Diocese. </p>
<p>Please send inquiries to dbouch4009@gmail.com</p>
