@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Neighbors North</h1>
    <h2>Traditional Latin Mass Petition</h2>
    <p>A local effort to introduce at least one Traditional Latin Mass each weekend to Neighbors North.</p>
</div>

<div class="row">

</div>